.tabs {
    max-width: 600px;
    margin: 50px auto;
}

.tabs__nav {
    display: flex;
}

.tabs__nav-btn {
    padding: 15px 30px;

    font-size: 20px;
    color: #937341;
    background-color: #23201D;
    border: 0;
    cursor: pointer;
}

.tabs__nav-btn.active {
    background-color:#937341 ;
    color: #23201D;
}

.tabs__content {
    padding: 20px;
    background-color: #fff;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}